.settingsBox {
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 1.6rem;
    color: #555;
}

.input {
    margin-left: 8px;
    padding: 5px 8px;
    border-radius: 6px;
    width: 90px;
    font-size: 1.4rem;
}

.err {
    border: 2px solid #d01a1a;
    background-color: #f49c9c;
}
