.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-family: 'Inter', sans-serif;
    background: #f3f4f6;
    height: 100vh;
    justify-content: center;
}

