.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-family: 'Inter', sans-serif;
    background: #f3f4f6;
    height: 100vh;
    justify-content: center;
}


.settings-box,
.counter-box {
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
